name: CI Pipeline - Basic

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Mostrar infos
        run: |
          echo "Rodando CI no GitHub Actions ✅"
          echo "Branch: $GITHUB_REF"
          echo "Commit: $GITHUB_SHA"
          ls -la
